#root{
  width: '100%';
  height: '100%';
  background-color: rgb(255, 255, 255);
}
.App{
  display:flex;
  flex-direction: column;
  /* height: '100%'; */
  /* flex: 'center'; */
  background-color: rgb(12, 134, 39);
}
h1{
  justify-content: flex-start;
  align-self: center;
  background-color: rgb(86, 114, 236);
}

/* .mainWrapper{
  justify-content: space-evenly;
} */

.mainContent{
  display:flex;
  /* width:'80%'; */
  flex-flow: row wrap;
  align-items: center;
  background-color: rgb(180, 180, 182);
}

.imageWrapper{
  display:flex;
  flex:3;
  border: 1px rgb(0, 0, 0) solid;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgb(113, 131, 117);

}
.imageHolder{
  display:flex;
  /* height: 150px; */
  flex-direction: column;
  background-color: rgb(255, 251, 4);
  
}
.resultsHolder{
  flex:1;
  padding: 10px;
  background-color: rgb(253, 75, 179);
}

.wikiData{
  /* flex-basis: 500px; */
  flex:2;
  padding: 10px;
  background-color: rgb(211, 58, 58);
}
.imageHolder img{
  /* border-radius: 10px; */
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  height: 150px;
}