#root{
  width: '100%';
  height: '100%';
  background-color: rgb(241, 224, 217);
}
.App{
  display:flex;
  flex-direction: column;
  /* height: '100%'; */
  /* flex: 'center'; */
  background-color: rgb(12, 134, 39);
}
h1{
  justify-content: flex-start;
  align-self: center;
}

/* .mainWrapper{
  justify-content: space-evenly;
} */

.mainContent{
  display:flex;
  /* width:'80%'; */
  
}

.imageWrapper{
  display:flex;
  flex:2;
  border: 1px rgb(0, 0, 0) solid;
  flex-wrap: wrap;
  padding: 10px;
}
.imageHolder{
  display:flex;

  flex-direction: column;
  
}
.resultsHolder{
  flex:1;
}